.subheader-mock,.subheader-wrap-outer {
    background-color: blue;
  } 
   .footer-wrap {
    background-color: blue;
  }
  .w-text{color: silver;}
  .mycl_test1{color: green;}
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }